# vim
*.swp

# mac
.DS_Store

# IDEs
/.vscode
/.idea

# bins
/tqi
/tqi.exe
/tqi.sh
/tqi.exe~
*.exe

# we are a go mod household tyvm
/vendor

# archives
*.tar.gz
*.zip

# ictiobus artifacts
*.sim
*.gen
tunascript/tsi
tunascript/tsi.exe
/tsi
/tsi.exe
/tte
/tte.exe


